################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/foto.bookstore/.vs/foto.bookstore
/foto.bookstore/foto.bookstore/bin/Debug/netcoreapp3.1
/foto.bookstore/foto.bookstore/obj
